[core]
	editor = vim
	autocrlf = false
[user]
	name = Kohányi Róbert
	email = kohanyi.robert@gmail.com
[push]
	default = simple
[filter ".minttyrc"]
	clean = sed '/^ThemeFile=.*$/d'
[i18n]
	commitencoding = utf8
[diff]
	tool = p4merge
[difftool]
	prompt = no
[merge]
	tool = p4merge
[mergetool]
	prompt = no
[pull]
	ff = only
