[core]
	editor = vim
	autocrlf = false
[user]
	name = Kohányi Róbert
	email = kohanyi.robert@gmail.com
[push]
	default = simple
[filter ".minttyrc"]
	clean = sed '/^ThemeFile=.*$/d'
[i18n]
	commitencoding = utf8
